<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Crater Baiter {{app_version}}</title>
</head>
<body class="bg-black">
  <main>
    <div class="main-page-wrapper container flow text-white">
      <h1 class="ff-heading fs-900">Crater Baiter {{app_version}}</h1>
      <form action="/" method="post" class="flow">
          <label class="fs-500 ff-heading fw-700" for="class_choice">Choose a class:</label>
          <div class="class-choice">
            {% for class in classes %}
              {% set name = class.pretty_name %}
              {% set css = class.css %}
              <div class="class-item">
                <input type="radio" id="{{ name|lower }}" name="class_choice" value="{{ name|lower }}">
                <label for="{{ name|lower }}">
                  <span class="class-name {{ css|lower }}">{{ name }}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        <div class="flow">
          <label for="location">Mark your location in Dalaran Crater:</label>
          <input type="text" id="location" name="location" readonly>
          <button type="submit" class="wow-button bg-wow-red text-white fw-700"> Mark </button>
        </div>

        <img src="{{url_for('static', filename='crater.png')}}" onclick="getCursorPosition(event)">
      </form>
    </div>
  </main>
  
  <script>
    function getCursorPosition(e) {
      var x = e.clientX;
      var y = e.clientY;
      document.getElementById("location").value = x + ", " + y;
    }
  </script>
</body>
</html>
