{% extends "layout.html" %}
{% block content %}
<main class="px-3">
  <h1>Here are your victims, {{ current_user.username }}!</h1>
  <p class="lead"></p>  
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th class="">Name</th>
          <th>Server</th>
          <th>Class</th>
          <th>X Coord</th>
          <th>Y Coord</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for victim in victims %}
          <tr>
            <td>{{ victim.name }}</td>
            <td>{{ victim.server }}</td>
            <td class="{{ victim.wow_class }}">{{ classes[victim.wow_class]['pretty_name'] }}</td>
            <td>{{ victim.x_coord }}</td>
            <td>{{ victim.y_coord }}</td>
            <td>
              <form id="delete-form-{{ victim.id }}" action="{{ url_for('victims.delete_victim', id=victim.id) }}" method="post">
                <button type="button" class="btn btn-outline-danger" onclick="showConfirmDialog({{ victim.id }})">Delete</button>
                <button type="submit" class="btn btn-danger d-none" id="confirm-delete-{{ victim.id }}">Confirm 🗑</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  <p class="lead"></p>
  <p class="lead"></p>
  <p class="lead">
    <a href="{{ url_for('victims.new_victim') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">Add new victim!</a>
  </p>
</main>
{% endblock content %}

