{% extends "layout.html" %}
{% block content %}

<main class="px-3">
  <h1>Create New Victim</h1>
  <form method="POST" action="{{ url_for('victims.new_victim') }}">
    {{ form.csrf_token }}
css
Copy code
<div class="form-group">
  {{ form.name.label }}
  {{ form.name(class="form-control") }}
  {% for error in form.name.errors %}
    <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>

<div class="form-group">
  {{ form.server.label }}
  {{ form.server(class="form-control") }}
  {% for error in form.server.errors %}
    <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>

<style>
  {% for wow_class, feats in classes.items() %}
  .button{{wow_class}}
</style>
<div class="form-group">
  
  <div class="row">
    <div class="col-md-6">
    {% set selected_class = form.wow_class.data %}
    {% for wow_class in l_classes[:5] %}
      <button type="button" class="btn {{ 'btn-outline-danger' if selected_class != wow_class else 'btn-danger' }}" name="{{ classes[wow_class]['pretty_name'] }}" value="{{ wow_class }}" style="border-color: {{ classes[wow_class]['color'] }}; color: {{ classes[wow_class]['color'] }};">{{ classes[wow_class]['pretty_name'] }}</button>
    {% endfor %}
  </div>
  <div>
    {% for wow_class in l_classes[5:] %}
      <button type="button" class="btn {{ 'btn-outline-danger' if selected_class != wow_class else 'btn-danger' }}" name="{{ classes[wow_class]['pretty_name'] }}" value="{{ wow_class }}" style="border-color: {{ classes[wow_class]['color']  }}; color: {{ classes[wow_class]['color'] }};">{{ classes[wow_class]['pretty_name'] }}</button>
    {% endfor %}
  </div>
</div>

<div class="form-group">
  {{ form.x_coord.label }}
  {{ form.x_coord(class="form-control") }}
  {% for error in form.x_coord.errors %}
    <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>

<div class="form-group">
  {{ form.y_coord.label }}
  {{ form.y_coord(class="form-control") }}
  {% for error in form.y_coord.errors %}
    <span class="text-danger">{{ error }}</span>
  {% endfor %}
</div>

<button type="submit" class="btn btn-primary">Create</button>
  </form>
</main>
{% endblock content %}